<div class="container">
  <link rel="stylesheet" href="assets/style.css">
  <h1>Sign Up</h1>



  <ul>
    <form action="/sign_up" method="post">
      <li>
        <label for="username">Username</label>
        <input type="text" name="username"/>
      </li>
      <li>
        <label for="password">Password</label>
        <input type="password" name="password"/>
      </li>
      <li>
        <label for="email">Email</label>
        <input type="text" name="email"/>
      </li>
      <li>
        <input type="submit" value="sign_up"/>
      </li>
    </form>
  </ul>
</div>
