
<div class="container">
<h1>Fish Log</h1>

  <p>This is going to be an app to record your catch and connect with others</p>
  <ul>
  <form action="/login" method="get">
   <input type="submit" value="login"/>
  </form>
  <form action="/register" method="get">
    <input type="submit" value="register"/>
  </form>
  </ul>
</div>