
<div class="container">
  <link rel="stylesheet" href="assets/style.css">
  <h1>Fish Log</h1>

  <p>This is going to be an app to record your catch and connect with others</p>

  <ul>
    <form action="/login" method="post">
      <li>
      <label for="username">Username</label>
      <input type="text" name="username"/>
      </li>
      <li>
      <label for="password">Password</label>
      <input type="password" name="password"/>
      </li>
      <li>
      <label for="email">Email</label>
      <input type="text" name="email"/>
        </li>
    </form>
  </ul>
</div>